.new-arrivals {
  width: 100%;
  background-color: #f8f3f4; }

.new-arrivals__inside {
  justify-content: space-between;
  align-items: center; }
  .new-arrivals__inside h1 a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    color: #f16d7f;
    margin-top: 60px;
    margin-bottom: 60px; }
  .new-arrivals__inside .bread-crumps {
    display: flex; }
    .new-arrivals__inside .bread-crumps li {
      list-style: none; }
      .new-arrivals__inside .bread-crumps li:not(:last-child)::after {
        content: "/";
        margin-left: 4px;
        margin-right: 7px; }
      .new-arrivals__inside .bread-crumps li a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        color: #636363;
        text-transform: uppercase; }
        .new-arrivals__inside .bread-crumps li a:hover {
          color: #f16d7f; }
        .new-arrivals__inside .bread-crumps li a.bread-crumps__active {
          color: #f16d7f;
          font-weight: bold; }

.main {
  flex-direction: column; }
  .main .main__title {
    width: 100%;
    margin-top: 70px;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.2px;
    border-bottom: solid 1px #eaeaea; }
    .main .main__title h3 {
      margin-bottom: 17px; }
  .main .main__content {
    width: 100%;
    margin-top: 2px;
    padding-bottom: 23px;
    padding-top: 22px;
    border-bottom: solid 1px #eaeaea;
    justify-content: space-between;
    align-items: center; }
    .main .main__content .main__table-cell-2, .main .main__content .main__table-cell-3, .main .main__content .main__table-cell-4, .main .main__content .main__table-cell-5 {
      font-size: 13px;
      color: #656565;
      text-transform: uppercase; }
    .main .main__content .main__content-cell-1 {
      display: flex;
      align-items: center; }
      .main .main__content .main__content-cell-1 .main__table-cell-1-stars {
        margin: 0;
        margin-bottom: 15px; }
      .main .main__content .main__content-cell-1 img {
        margin-right: 21px; }
      .main .main__content .main__content-cell-1 h3 {
        margin: 0;
        text-transform: uppercase;
        font-size: 13px;
        margin-bottom: 11px; }
        .main .main__content .main__content-cell-1 h3 a {
          text-decoration: none;
          color: #656565; }
          .main .main__content .main__content-cell-1 h3 a:hover {
            color: #f16d7f; }
      .main .main__content .main__content-cell-1 p {
        margin: 0;
        font-size: 13px; }
        .main .main__content .main__content-cell-1 p span {
          font-weight: bold; }
        .main .main__content .main__content-cell-1 p:nth-child(3) {
          margin-bottom: 5px; }

.main__table-cell-1 {
  min-width: 280px; }

.main__table-cell-2, .main__table-cell-3, .main__table-cell-4 {
  min-width: 90px;
  text-align: center; }

.main__table-cell-5 {
  min-width: 80px;
  text-align: center; }

.main__table-cell-6 {
  min-width: 60px;
  text-align: center; }
  .main__table-cell-6 > a {
    color: #656565; }
  .main__table-cell-6 a:hover {
    color: #f16d7f; }

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 63px; }
  .cart-buttons a {
    display: block;
    border: 1px solid #eaeaea;
    padding: 20px 38px 18px 39px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a; }
    .cart-buttons a:hover {
      color: #f16d7f;
      border-color: #f16d7f; }

.address-coupon-total {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .address-coupon-total .address-coupon-total-column {
    display: flex;
    flex-direction: column; }
    .address-coupon-total .address-coupon-total-column h2 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 22px; }
    .address-coupon-total .address-coupon-total-column input {
      border: 1px solid #eaeaea; }
    .address-coupon-total .address-coupon-total-column input[type='text'] {
      height: 45px;
      width: 355px;
      padding-left: 18px;
      padding-right: 18px;
      font-size: 13px;
      font-weight: 300;
      box-sizing: border-box; }
      .address-coupon-total .address-coupon-total-column input[type='text']::placeholder {
        font-size: 13px;
        font-weight: 300;
        color: #b1b1b1; }
    .address-coupon-total .address-coupon-total-column input[type='text']:first-child {
      margin-right: -35px;
      padding-right: 35px; }
    .address-coupon-total .address-coupon-total-column input:nth-child(3) {
      margin-bottom: 20px;
      margin-top: 20px; }
    .address-coupon-total .address-coupon-total-column input:nth-child(4) {
      margin-bottom: 23px; }
    .address-coupon-total .address-coupon-total-column input[type='submit'] {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 3px;
      width: fit-content;
      height: 35px;
      font-size: 11px;
      font-weight: bold;
      background-color: #ffffff;
      color: #4a4a4a;
      text-transform: uppercase; }
      .address-coupon-total .address-coupon-total-column input[type='submit']:hover {
        cursor: pointer;
        color: #f16d7f;
        border-color: #f16d7f; }
    .address-coupon-total .address-coupon-total-column button.button-city {
      height: 40px;
      width: 30px;
      color: #bdbdbd;
      border: none;
      outline: none;
      background-color: #ffffff;
      box-sizing: border-box; }
      .address-coupon-total .address-coupon-total-column button.button-city:hover {
        cursor: pointer;
        color: #f16d7f; }
    .address-coupon-total .address-coupon-total-column label {
      font-size: 14px;
      font-weight: 300;
      margin: 2px 0;
      color: #000000; }

.address-coupon-total .address-coupon-total-column:first-child div:nth-child(2) {
  height: 45px;
  width: 355px;
  padding: 0;
  box-sizing: border-box; }

div.address-coupon-total-column {
  background-color: #f5f3f3;
  min-width: 360px;
  height: 214px;
  justify-content: center;
  align-items: flex-end;
  padding-right: 40px;
  box-sizing: border-box; }
  div.address-coupon-total-column p {
    font-size: 11px;
    text-transform: uppercase;
    color: #4a4a4a;
    margin: 0; }
    div.address-coupon-total-column p span {
      margin-left: 17px; }
  div.address-coupon-total-column h3 {
    margin: 14px 0 40px 0;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase; }
    div.address-coupon-total-column h3 span {
      color: #f16d7f;
      margin-left: 17px; }
  div.address-coupon-total-column a {
    width: fit-content;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    padding: 19px 42px;
    background-color: #f16d7f;
    border: none;
    outline: none;
    white-space: nowrap; }
    div.address-coupon-total-column a:hover {
      opacity: 0.7;
      cursor: pointer; }

/*# sourceMappingURL=cart.css.map */
