@keyframes myCollapse {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.product-content__left > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0; }
  .product-content__left > ul > label > li {
    width: 240px;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #6f6e6e;
    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid #ef5b70;
    padding: 14px 0px 14px 11px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.2s; }
    .product-content__left > ul > label > li:hover {
      cursor: pointer;
      color: #f16d7f; }
    .product-content__left > ul > label > li > i:nth-child(2) {
      display: none; }
  .product-content__left > ul > input[type="checkbox"] {
    position: absolute;
    left: -2000px; }
    .product-content__left > ul > input[type="checkbox"] ~ div {
      display: none;
      flex-direction: column;
      animation: myCollapse 0.5s; }
      .product-content__left > ul > input[type="checkbox"] ~ div > a {
        text-decoration: none;
        font-size: 14px;
        color: #6f6e6e;
        margin-bottom: 20px;
        margin-left: 20px; }
        .product-content__left > ul > input[type="checkbox"] ~ div > a:hover {
          color: #f16d7f; }
  .product-content__left > ul > input[type="checkbox"]:checked + label + div {
    display: flex; }
  .product-content__left > ul > input[type="checkbox"]:checked + label > li {
    color: #ef5b70; }
    .product-content__left > ul > input[type="checkbox"]:checked + label > li > i:first-child {
      display: none; }
    .product-content__left > ul > input[type="checkbox"]:checked + label > li > i:nth-child(2) {
      display: inline; }
.product-content__right {
  margin-left: 54px;
  margin-top: 27px;
  width: 100%; }
.product-content__right > div:first-child {
  display: flex;
  justify-content: space-between; }
  .product-content__right > div:first-child > div.product-content__right-choose-1 {
    max-width: 175px; }
  .product-content__right > div:first-child > div > h3 {
    font-size: 14px;
    color: #6f6e6e;
    text-transform: uppercase;
    margin: 0 0 25px 0; }
  .product-content__right > div:first-child > div > a {
    color: #6f6e6e;
    font-size: 14px;
    text-decoration: none;
    margin: 0;
    line-height: 1.86; }
    .product-content__right > div:first-child > div > a:hover {
      color: #ef5b70; }
    .product-content__right > div:first-child > div > a.product-content__right-choose-1-link1 {
      padding-right: 6px; }
    .product-content__right > div:first-child > div > a.product-content__right-choose-1-link2 {
      padding: 0 9px;
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8; }
    .product-content__right > div:first-child > div > a.product-content__right-choose-1-link3 {
      padding-left: 6px; }
  .product-content__right > div:first-child > div.product-content__right-choose-2 > div {
    display: flex;
    flex-wrap: wrap; }
    .product-content__right > div:first-child > div.product-content__right-choose-2 > div > div {
      width: 25%;
      margin-bottom: 12px; }
      .product-content__right > div:first-child > div.product-content__right-choose-2 > div > div > input[type="checkbox"] {
        display: none; }
      .product-content__right > div:first-child > div.product-content__right-choose-2 > div > div > input[type="checkbox"]:checked ~ label::before {
        background: #e8e8e8; }
  .product-content__right > div:first-child > div.product-content__right-choose-2 > div > div > label {
    display: flex;
    font-size: 14px;
    color: #6f6e6e;
    text-transform: uppercase; }
    .product-content__right > div:first-child > div.product-content__right-choose-2 > div > div > label:hover {
      cursor: pointer;
      color: #ef5b70; }
    .product-content__right > div:first-child > div.product-content__right-choose-2 > div > div > label::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border: 1px solid #e8e8e8;
      margin-right: 9px; }
  .product-content__right > div:first-child > div.product-content__right-choose-3 input[type="range"] {
    width: 262px;
    margin: 0; }
    .product-content__right > div:first-child > div.product-content__right-choose-3 input[type="range"] + div {
      margin-top: 20px;
      font-size: 14px;
      color: #6f6e6e;
      display: flex;
      justify-content: space-between; }
  .product-content__right > div:first-child > div.product-content__right-choose-3 input[type="range"]::-webkit-slider-container {
    background-color: #f16d7f;
    height: 6px; }
.product-content .product-sortBy {
  margin-top: 36px;
  margin-bottom: 48px;
  font-size: 14px;
  color: #6f6e6e;
  background-color: #f3f3f3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 9px; }
  .product-content .product-sortBy > div > div {
    padding: 10px 8px 8px 13px;
    border-right: 1px solid #ebebeb; }
  .product-content .product-sortBy button {
    color: #6f6e6e;
    padding: 10px; }
    .product-content .product-sortBy button i {
      margin-left: 21px; }
  .product-content .product-sortBy > div {
    display: flex;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    margin-right: 10px; }
    .product-content .product-sortBy > div button {
      border: none;
      outline: none;
      background-color: #ffffff; }
      .product-content .product-sortBy > div button:hover {
        cursor: pointer;
        color: #ef5b70; }
      .product-content .product-sortBy > div button:focus {
        border: none;
        outline: none; }

.hot-offer__square-product {
  position: relative; }
  .hot-offer__square-product > button {
    width: 128px;
    box-sizing: border-box;
    border-radius: 3px;
    white-space: nowrap; }
    .hot-offer__square-product > button:hover {
      border-color: #ef5b70; }
  .hot-offer__square-product > div {
    width: 128px;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 140px; }
    .hot-offer__square-product > div > button {
      outline: none;
      justify-content: center;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      color: #ffffff;
      background-color: rgba(90, 90, 90, 0);
      padding: 12px 21px;
      height: 39px;
      box-sizing: border-box;
      border: solid 1px #ffffff;
      border-radius: 3px; }
      .hot-offer__square-product > div > button:hover {
        cursor: pointer;
        color: #ef5b70;
        border-color: #ef5b70; }

.product-pagination {
  display: flex;
  justify-content: space-between; }
  .product-pagination > div {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 15px; }
  .product-pagination > div > a {
    color: #c4c4c4;
    font-size: 16px;
    text-decoration: none;
    margin-right: 15px; }
    .product-pagination > div > a:hover {
      color: #ef5b70; }
    .product-pagination > div > a.product-pagination-active {
      color: #ef5b70; }
    .product-pagination > div > a:last-child {
      margin-right: 0; }
  .product-pagination > button {
    font-size: 16px;
    color: #ef5b70;
    font-weight: 300;
    padding: 15px 45px;
    border: 1px solid #ef5b70;
    border-radius: 3px;
    background: #ffffff; }
    .product-pagination > button:hover {
      cursor: pointer;
      transform: scale(1.1); }
    .product-pagination > button:focus {
      outline: none;
      border: 1px solid #ef5b70;
      border-radius: 3px; }
    .product-pagination > button:active {
      transform: scale(0.9); }

.wrapper-offer-women {
  width: 100%;
  background: #222224;
  margin-bottom: -97px; }

.product-offer-women {
  background-image: none;
  flex-direction: row;
  justify-content: space-between;
  height: initial; }
  .product-offer-women .offer-women__bonus {
    margin: 89px 0 115px 0;
    flex-direction: column;
    align-items: center;
    width: 312px; }
    .product-offer-women .offer-women__bonus .offer-women__pic {
      margin: 0; }
  .product-offer-women .offer-women__text {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .product-offer-women .offer-women__text p {
      text-align: justify;
      letter-spacing: 0.35px; }

/*# sourceMappingURL=product.css.map */
